<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.entri.utsresepmakanan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name=".FirstActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".RegActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".SecondActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ThirdActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".NasgorMawutActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".AyamGorengLengkuasActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".AyamGeprekActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".SotoMaduraActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".SateMaranggiActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".SpaghettiActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".PizzaActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".RamenActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".SteakActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".SushiActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".CapcinActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ThaiteaActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".CocomiloActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".MelonActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".CampurActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>